<% if @orders.present? %>
  <h1>Your Orders</h1>
  <table border = 1>
    <tr>
      <th> Items</th>
      <th> Total Price</th>
    </tr>
    <% @orders.includes(line_items: :product).each do |order| %>
      <tr>
        <td>
          <% total = 0 %>
          <% order.line_items.each do |line_item| %>
            <%= pluralize(line_item.quantity, line_item.product.title) %>
            <% total += line_item.total_price %>
          <% end %>
        </td>
        <td>
          <%= total %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1> No Orders Present </h1>
<% end %>
<%= will_paginate @orders %>
